absl-py
attrs
black
certifi
charset-normalizer
cycler
dateparser
idna
kiwisolver
kubernetes
matplotlib
networkx
numpy==1.26.2
ortools
pandas==2.1.3
Pillow==10.1.0
pre-commit
protobuf
pylint
pyparsing
python-dateutil
pytz
regex
requests
shortuuid
six
scikit-learn==1.0.2
tabulate
tzlocal
urllib3